.home {
  width: 100%;
  height: 100vh;
  position: relative;
}
.rs_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.map {
  width: 100%;
  height: 100%;
  position: relative;
}
.map_button {
  position: fixed;
  z-index: 1000;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4%;
  border-radius: 20rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  background-color: rgb(13, 13, 13);
  color: rgb(231, 231, 231);
  font-weight: 600;
  font-size: 15px;
}
.map_button:hover {
  transform: translateX(-50%) scale(1.1);
}
.map_btn_conetnt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1rem;
}
.map_btn_conetnt img {
  height: 1.4rem;
  margin-left: 1rem;
}
@media screen and (min-width: 1441px) {
}
@media screen and (max-width: 1800px) {
  .rs_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1600px) {
  .rs_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1024px) {
  .rs_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 992px) {
  .rs_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .rs_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .rs_container {
    grid-template-columns: 1fr;
  }
}
